.head{
    background: #000000a4; 
    
}



.head .img1{
    position: relative;
    z-index: -1;
    object-fit: cover;
    border-bottom: 8px solid #222;
    margin-bottom: 0;
}

    
.head .img2{
    position: absolute;
    top: 0%;
    left: 5%;
    z-index: 2;
    
    
}

.head select{
    position: absolute;
    top: 7%;
    right: 15%;
    background: none;
    padding: 5px 17px;
    z-index: 2;
    


}
.head .ui-select {
    color: #fff;
    background: #00000066; 
}
.head .but{
         position: absolute;
        top: 7%;
         right: 6%;
        z-index: 2;
        padding: 4px 17px;
        background: none;
        background-color: #E50914;
        border: none;
        border-radius: 4px;
        box-shadow: none;
        color: #fff;
        font-size: 18px;
        font-weight: 600;
        text-shadow: none;

        
}

.head .h1{
    position: absolute;
    top: 40%;
    left: 32%;
    color: #fff;
}
.head h1{
    font-size: 3.125rem;
    line-height: 1.1;
    margin-bottom: 0.5rem;
}

.head .h2{
    position: absolute;
    top: 60%;
    left: 34%;
    color: #fff;
    
}
.head h2{
    font-size: 1.625rem;
    font-weight: 400;
}
.head .h3{
position: absolute;
top: 83%;
left: 28%;
color: #fff;
}
.head h3{
    font-weight: 500;
    font-size: large;
}

.head .form-group{
    position: absolute;
    top: 90%;
    left: 29%;
    
}
.head .nfTextField{
    height: 48px;
    padding: 55px 125px 0;
    width: 100%;
}
.form-group .placeLabel{
    position: absolute;
    top: 25%;
    left: 3%;
    color: rgb(78, 77, 77);
   
}
.form-group .but1{
          position: absolute;
         background-color: #E50914;
         padding: 6px 40px;
        border: none;
        /* box-shadow: none; */
        color: #fff;
        /* font-size: 18px; */
        font-weight: 600;
        
        

}

    /* endhead */

.sec1{
    background-color: black;
    height: 450px;
    border-bottom: 8px solid #222;
    
}
.sec1 .hh{
    color: #fff;
    margin-top: 100px;
}
.sec1 .hh h2{
    font-weight: 100;
}

.sec1 .img3{
    position: relative;
    width: 500px;
    z-index: 1;
} 

.sec1 video{
    position: absolute;
    top: 20%;
    left: 17%;
}
/* endsec1 */

.sec2{
    background-color: black;
    height: 450px;
    border-bottom: 8px solid #222;
    
}
.sec2 .img4{
    position: relative;
    width: 530px;
}
.sec2 .img5{
    
    width: 50px;
}
.sec2 .im5{
    position: absolute;
    top: 70%;
    left: 20%;
    border: 3px solid #222;
    padding: 0.50em 0.65em;
    width: 60%;
    background-color: black;
    border-radius: 0.75em;
    box-shadow: 0 0 2em 0 #000;
}

.im5 .text-0 {
    position: absolute;
    top: 20%;
    left: 25%;
    color: #fff;
}
.im5 .text-1 {
    position: absolute;
    top: 46%;
    left: 25%;
    color:rgb(0, 132, 255) ;
}

.im5::after{
    position: absolute;
    top: 20%;
    left: 80%;
    width: 3em;
    height: 3em;
    outline: 2px solid #000;
    outline-offset: -2px;
    display: block;
    background: url(https://assets.nflxext.com/ffe/siteui/acquisition/ourStory/fuji/desktop/download-icon.gif) center center no-repeat;
    -webkit-background-size: 100% 100%;
    -moz-background-size: 100%;
    background-size: 100%;
    content: '';
    -webkit-box-flex: 0;
    -webkit-flex-grow: 0;
    -moz-box-flex: 0;
    -ms-flex-positive: 0;
    flex-grow: 0;
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
}

 .sec2 .hh22{
    color: #fff;
    margin-top: 100px;
}
.sec2 .hh22 h2{
    font-weight: 100;
}
/* endsec2 */
.sec3{
    background-color: black;
    height: 450px;
    border-bottom: 8px solid #222;
}
.sec3 .hh223{
    color: #fff;
    margin-top: 100px;
}

.sec3 .hh223 h2{
    font-weight: 100;
}

.sec3 .img6{
    position: relative;
    width: 560px;
    z-index: 1;
}

.sec3 video{
    position: absolute;
    top: 11%;
    left: 25%;
}
/* endsec3 */
.sec4{
    background-color: black;
    height: 450px;
    border-bottom: 8px solid #222;
}

.sec4 .img7{
    width: 500px;
}

.sec4 .hh224{
    color: #fff;
    margin-top: 100px;
}

.sec4 .hh224 h2{
    font-weight: 100;
}
/* endsec4 */

.sec5 {
    background-color: black;
    height: 1200px;
    border-bottom: 8px solid #222;
}
.sec5 .h11h{
    color: #fff;
    text-align: center;
    
}

.sec5 h1{
    font-size: 3.125rem;
    line-height: 1.1;
    margin-bottom: 2.5rem;
}
.card {
    background-color: rgb(77, 74, 74);
    width: 800px;
    color: #fff;
    margin-top: 10px;
    margin-left: 15rem;
}
.card .svg-closed {
    -webkit-transform: translateY(-50%) rotate(-45deg);
    -moz-transform: translateY(-50%) rotate(-45deg);
    -ms-transform: translateY(-50%) rotate(-45deg);
    -o-transform: translateY(-50%) rotate(-45deg);
    transform: translateY(-50%) rotate(-45deg);
}

.card .svg-icon-thin-x {
    position: absolute;
    right: 1em;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    height: 1em;
    width: 1em;
    fill: rgb(255, 246, 246);
}

 .accordion button{
    color: #fff;
    font-size: 1.2rem;
    padding: 1rem;
}

.sec5 .h31{
    position: absolute;
    margin-top: 7rem;
    margin-left: 20rem;
    color: #fff;

}

.sec5 h3{
    font-weight: 500;
    font-size: large;
    
}

.sec5 .but2{
 
    position: absolute;
    background-color: #E50914;
    padding: 18px 50px;
   border: none;
   color: #fff;  
   font-weight: 600;
  margin-top: 10rem;
   
}

.sec5 .nfTextField{
    height: 48px;
    padding: 55px 125px 0;
    width: 40%;
    margin-left: 18rem;
    margin-top: 10rem;
}
 
.sec5 .placeLabel2{
    position: absolute;
    color: #757575;
    left: 19rem;
    margin-top: 11rem;
    
}



/* endsec5 */

.indigo {
    background-color: #020202 !important;
   
}

footer.page-footer a {
    color: #757575;
}


.list-unstyled{
    margin-top: 4rem;
    
}
.page-footer select{
    position: absolute;
    left: 10%;
    background: none;
    padding: 15px 17px;
    z-index: 2;
    border-radius: 5%;
    


}
.page-footer .ui-select {
    color: #fff;
    background: #00000066; 
}

.footer-copyright{
    margin-left: 9rem;
}